html,body{
    height:90%;
}

.row-height {
    height: 50%;
}

.link-list li {
    list-style-type: none;
}

.link-list li a {
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 200;
}

.link-list li a:hover {
    color: #ffc9a8;
    text-decoration: line-through;
}

.non-logo{
    padding-top: 15px;
    padding-bottom: 15px;
}

.col-md:hover{
    background-color: lightblue;
}

.row-two{
    margin-top: 10px;
}

/* ID's */
#juicebox{
    max-width:25%;    
    height: auto;
}
