a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    /* text-decoration: underline black; */
    color: black;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: black
}
a:hover{
    /* text-decoration: underline grey; */
    color: lightslategrey
}

.juiceBox{
    max-height: 400px !important;
}

.hidden{
    opacity: 0;
}

.juiceBox:hover{
    background-color: #DEEBFF;
    opacity:0.7 !important;
    filter:alpha(opacity=70) !important;
    box-shadow: 0 0 0px #000000 !important;
}

.imageDiv{
    max-height:50%;
}

.startHidden{
    display: none;
}