html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
@font-face {
    font-family: cooperBlackLocal;
    src: url("cooper_black_regular.ttf");
}
/* HOME PAGE */
h1 {
    font-family: "Cooper Black", cooperBlackLocal, "Arial Black", "Palatino Linotype";
    cursor: pointer;
    color: #1443d0;
}
h4 {
    font-family: "Arial Black", Arial, sans-serif;
    color: #1b1b1b;
    transition: color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
h1:hover,
h4:hover,
span:hover > h4,
span:hover > h2,
.cs-project-link:hover {
    color: #8cabfa;
}
.container.main {
    position: absolute;
    top: 40vh;
    left: 15vw;
    z-index: 0;
}
a {
    outline: 0;
}
.juicebox {
    opacity: 20%;
    position: absolute;
    top: 20vh;
    left: 40vw;
    transform: rotate(10deg);
    cursor: pointer;
    z-index: 0;
    transition: opacity 0.5s cubic-bezier(0, 0.65, 0.58, 1.01), left 0.5s cubic-bezier(0, 0.65, 0.58, 1.01);
}
@media (max-width: 576px) {
    .juicebox {
        opacity: 20%;
        top: 20vh;
        left: 25vw;
    }
}
@media (min-width: 1290px) {
    .juicebox {
        opacity: 100%;
        top: 20vh;
        left: 55vw;
        z-index: 1;
    }
}
.strikethrough,
.strikethrough-cs-project,
.strikethrough-image {
    position: relative;
    display: block;
    cursor: pointer;
}
.strikethrough:before,
.strikethrough:after,
.strikethrough-cs-project:before,
.strikethrough-cs-project:after,
.strikethrough-image:before,
.strikethrough-image:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 5px;
}
.strikethrough:before,
.strikethrough-cs-project:before,
.strikethrough-image:before {
    left: -2.5px;
}
.strikethrough:after,
.strikethrough-cs-project:after,
.strikethrough-image:after {
    right: 2.5px;
    background: #1443d0;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strikethrough:hover:before,
.strikethrough-cs-project:hover:before,
.strikethrough-image:hover:before {
    background: #1443d0;
    width: 105%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strikethrough:hover:after,
.strikethrough-cs-project:hover:after,
.strikethrough-image:hover:after {
    background: transparent;
    width: 105%;
    transition: 0s;
}
.strikethrough:before,
.strikethrough:after {
    top: 35%;
}

/* PAGES */
.about,
.images,
.code,
.cv {
    display: none;
    padding-top: 10vh;
}
.title-container {
    position: relative;
}
.title-container .title {
    text-align: center;
}
.cv-emoji {
    font-size: 10em;
}
.cv-emoji:hover {
    opacity: 75%;
}
.pdf-link:hover {
    text-decoration: none;
}
.resume-overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text-center:hover > .middle {
    opacity: 1;
}
.title-click:hover {
    cursor: pointer;
}
.other-image {
    display: none;
}
.moving-image {
    margin-top: 10vh;
    height: 195px;
}
.cs-project-link {
    cursor: pointer;
}
.strikethrough-cs-project:before,
.strikethrough-cs-project:after {
    top: 75%;
}
.strikethrough-image {
    display: inline-block;
}
.strikethrough-image:before,
.strikethrough-image:after {
    top: 90%;
}
.subpage-title {
    color: #8cabfa;
}
.subpage-title:hover {
    color: #1443d0;
}
.about-me-title:hover {
    color: #8cabfa !important;
}
